Source: webcontracts
Section: misc
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
Build-Depends: cmake (>= 2.6),
               debhelper (>= 8.0.0),
               libgranite-dev,
               libjson-glib-dev,
               libpantheon-dev,
               librest-dev (>= 0.7),
               libsoup-gnome2.4-dev,
               libwebkitgtk-3.0-dev,
               valac (>= 0.16)
Standards-Version: 3.9.2
Homepage: https://launchpad.net/webcontracts

Package: webcontracts
Architecture: any
Depends: curl, ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: Standalone Contracts for Web Services
 Collection of scripts to be used with Contractor and various online services.

Package: webcontracts-dbg
Architecture: any
Section: debug
Priority: extra
Depends: webcontracts (= ${binary:Version}), ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Enhances: webcontracts
Description: Standalone Contracts for Web Services (debugging symbols)
 Collection of scripts to be used with Contractor and various online services.
 .
 This package contains debugging symbols for webcontracts.
